.wrapper {
  padding: 0.5em 1.5em;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  text-align: center;
  justify-self: center;
  background-color: var(--accent-400);
  color: var(--white);
  font-weight: 500;
  border: none;
  border-radius: var(--br);
  cursor: pointer;
  transition: background-color 250ms ease;
  &:hover,
  &:focus-within {
    background-color: var(--accent-500);
  }
  &:focus-visible {
    outline: 2px dashed var(--accent-500);
    outline-offset: 5px;
  }
  .loader {
    display: none;
  }
  &--loading {
    background-color: var(--accent-300) !important;
    cursor: default;
    .text {
      visibility: none;
      opacity: 0;
    }
    .loader {
      position: absolute;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      svg {
        width: 100%;
        height: 100%;
        circle {
          animation: spin 1s infinite linear;
          transform-origin: center;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
