.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  box-shadow: var(--shadow-medium);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: var(--br);
  .title {
    text-align: center;
    color: var(--clr-neutral-800);
    margin-top: 0;
  }
  .form {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 1.5rem;
  }
}
